div{
    font-family: Arial;
    margin-top:0;
    margin-bottom:0;
}

.container{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 20px;
}

.all-inboxes{
    font-size: 14px;
    color: rgb(120, 120, 120);
    margin-bottom: 20px;
}

.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.sender-pic{
    margin-right:10px;
}

.pic{
    height:45px;
    width:45px;
    object-fit: cover;
    border-radius:100px;
}

.content{
    flex: 1;
}

.mail-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.title{
    font-size: 18px;
    font-weight: bold;
}

.time{
  font-size: 14px;
  color: rgb(120, 120, 120);
}


.subject{
    font-weight: bold;
    margin-bottom: 5px;
}

.message{
  color: rgb(120, 120, 120);

}

