input{
    width:300px;
    padding-right:100px;
    padding-left:15px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:100px;
    border:none;
    font-size:16px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
