.first,
.last{
    display: inline-block;
    width:100px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    margin-bottom:10px;
}

.email{
    display: block;
    width:213px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    margin-bottom:10px;
}

button{
    background-color: rgb(47, 127, 231);
    padding-left:85px;
    padding-right:85px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 5px;
    border:none;
    font-size:14px;
    color:white;
    font-weight: bold;
}

