
div{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}


.bar{
    color:white;
    background-color: green;
    position: fixed;
    right:0;
    width: 100px;
    top:0;
    bottom:0;
}

.overlay{
    background-color: rgba(0,0,0,0.8);
    position:fixed;
    right:0;
    left:0;
    bottom:0;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: white;
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

.modal-title{
    font-size:20px;
    font-weight: bold;
    margin-bottom:8px;
}

.modal-content{
    margin-bottom:7px;
}